# Numpy

In [1]:
import numpy as n
l = [1,2,3,4,5]
l1 = [1,2,3,4]
data = n.array([l,l1])
data

array([list([1, 2, 3, 4, 5]), list([1, 2, 3, 4])], dtype=object)

In [ ]:
data = n.array([[1,2,3,4],[23,4,5,6]])
data

In [ ]:
data.size

In [ ]:
data.shape

In [ ]:
data.reshape(4,2)

In [ ]:
ar = n.arange(0,25)
ar

In [ ]:
ar = n.arange(0,25)
res = ar.reshape(5,5)
res

In [ ]:
ar = n.arange(0,25)
res = ar.reshape(5,6)
res

In [ ]:
ar = n.arange(0,30)
res = ar.reshape(5,6)
res

In [ ]:
res.reshape(6,5)

In [ ]:
res.size

In [ ]:
ran = n.random.randint(0,25, size=(5,5))
ran

In [ ]:
ran = n.random.randint(0,25, size=(5,10))
ran

In [ ]:
ran.size

In [ ]:
data = n.arange(0,25)
data = data.reshape(5,5)
data

In [ ]:
data1 = n.arange(0,25)
data1 = data.reshape(5,5)
data1

In [ ]:
print(data+data1)

In [ ]:
print(data-data1)

In [ ]:
print(data*data1)

In [ ]:
print(data/data1)

In [ ]:
print(data//data1)

In [ ]:
print(data%data1)

In [ ]:
print(data**data1)

In [ ]:
print(data+data1)

In [ ]:
data

In [ ]:
data.max()

In [ ]:
data.min()

In [ ]:
data.size

In [ ]:
data.shape

In [ ]:
data.sum()

In [ ]:
data.mean()

In [ ]:
data.std()

####  numpy Built_in functions 
1. zeros
2. ones
3. vstack
4. hstack

In [ ]:
zeroo = n.zeros((5,5))
zeroo

In [ ]:
zeroo = n.zeros((5,5),int)
zeroo

In [ ]:
one = n.ones((5,5))
one

In [ ]:
one = n.ones((5,5),int)
one

In [ ]:
daignal = n.zeros((3,3),int)
daignal

In [ ]:
daignal = n.zeros((3,3),int)
daignal = n.diag([1,1,1])
daignal

In [ ]:
vstack_ex = n.vstack([daignal,daignal+5])
vstack_ex

In [ ]:
hstack_ex = n.hstack([daignal,daignal*5])
hstack_ex

In [ ]:
data

In [ ]:
s = input().split()
s

In [3]:
# [1,2,3,4,5,6,7,7]
nums = input().split()
nums

1 2 3 5 6 7 8

['1', '2', '3', '5', '6', '7', '8']

In [4]:
res = list(map(int,nums))
res

[1, 2, 3, 5, 6, 7, 8]

In [5]:
res = list(map(float,input().split()))
res

1 2 3 4 5

[1.0, 2.0, 3.0, 4.0, 5.0]

In [6]:
lb,ub = list(map(int,input().split()))
print(lb)
print(ub)

1 8
1
8

In [ ]:
def even(n):
    if n%2 == 0:
        return True
    return False
s = map(even,[1,2,3,4,5,6,7,8,9,10])
print(list(s))

In [2]:
def even(n):
    if n%2 == 0:
        return "even"
    return "odd"
s = map(even,[1,2,3,4,5,6,7,8,9,10])
print(list(s))

['odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even']

In [2]:
n = list(map(int,input().split()))
def even(n):
    if n%2 == 0:
        return "even"
    return "odd"
s = map(even,n)
print(list(s))

1 2 3 4 5 6
['odd', 'even', 'odd', 'even', 'odd', 'even']

In [7]:
s = input().split()
def length(n):
    return len(n)
lenth = map(length,s)
print(list(lenth))

python workshop
[6, 8]

In [4]:
age = list(map(int,input().split()))
def ages(n):
    if n>=18:
        return n
    return "Not Eligible"
result = map(ages,age)
print(list(result))

52 12 34 25 15 18
[52, 'Not Eligible', 34, 25, 'Not Eligible', 18]

In [ ]:
i/p: vec  ceo
o/p: 318  311

In [6]:
ord('c')+ord('e')+ord('o')

311

In [12]:
s = input().split()
def asciiii(n):
    sum1 = 0
    for i in n:
        sum1 =sum1+ord(i)
    return sum1
asciiii = map(asciiii,s)
print(list(asciiii))

vec ceo
[318, 311]

In [ ]:
s = input().split()
def asciiii(n):
    sum1 = 0
    for i in n:
        for j in i:
            sum1 =sum1+ord(j)
    return sum1
asciiii = map(asciiii,s)
print(list(asciiii))

In [13]:
s = input().split()
def asciiii(n):
    sum1 = 0
    for i in n:
        for j in i:
            sum1 =sum1+ord(j.swapcase())
    return sum1
asciiii = map(asciiii,s)
print(list(asciiii))

vEc VEC
[254, 318]

### Filters

In [5]:
def even(n):
    if n%2 == 0:
        return n
s = filter(even,[1,23,3,4,5,6])
print(list(s))

[4, 6]

In [6]:
age = list(map(int,input().split()))
def ages(n):
    if n>=18:
        return n
result = filter(ages,age)
print(list(result))

12 15 18 96 35 24 26
[18, 96, 35, 24, 26]

### Pandas
1. Series
2. dataFrame

In [7]:
import pandas as pd
l = [1,2,3,4,5,6]
pd.Series(l)

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64

In [9]:
l
index = (1,2,3,4,5,6)
pd.Series(l,index)

1    1
2    2
3    3
4    4
5    5
6    6
dtype: int64

In [11]:
l = pd.Series(l)
l1 = l.reindex(index=[5,4,3,2,1])
l1

5    6
4    5
3    4
2    3
1    2
dtype: int64

In [12]:
l

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64

In [13]:
x = l.tolist()
x

[1, 2, 3, 4, 5, 6]

In [19]:
dic = {'name':'archana','org':'apssdc'}
dic = pd.Series(dic)
dic

name    archana
org      apssdc
dtype: object

In [20]:
dic1 = {'dec':'Py Dev','clg':'GEC'}
dic1 = pd.Series(dic1)
dic1

dec    Py Dev
clg       GEC
dtype: object

In [18]:
dic
dic1

{'dec': 'Py Dev', 'clg': 'GEC'}

In [21]:
dic+dic1

clg     NaN
dec     NaN
name    NaN
org     NaN
dtype: object

In [23]:
dic1+dic1

dec    Py DevPy Dev
clg          GECGEC
dtype: object

In [24]:
nd = [[1,2,3],[2,3,4]]
pd.Series(nd)

0    [1, 2, 3]
1    [2, 3, 4]
dtype: object

In [25]:
nd = [[1,2,3],[2,3,4]]
index = ('nd1','nd2')
pd.Series(nd,index)

nd1    [1, 2, 3]
nd2    [2, 3, 4]
dtype: object

### DataFrame

In [26]:
l = [1,2,3,4,5,6]
l1 = [1,2,3,4,5,6]
pd.DataFrame(l,l1)

   0
1  1
2  2
3  3
4  4
5  5
6  6

In [27]:
l = [1,2,3,4,5,6]
l1 = [1,2,3,4,5,6]
res = {'l':l,'l1':l1}
pd.DataFrame(res)

   l  l1
0  1   1
1  2   2
2  3   3
3  4   4
4  5   5
5  6   6

In [28]:
dic = {'name':'archana','org':'apssdc'}
dic2 = {'one':1,'two':3}
dic3 = {'name':1.5,'org':2.5}
result  = {'str':dic,'int':dic2,'float':dic3}
pd.DataFrame(result)

          str  int  float
name  archana  NaN    1.5
org    apssdc  NaN    2.5
one       NaN  1.0    NaN
two       NaN  3.0    NaN

In [36]:
s = "python"
s = iter(s)
print(next(s))
print(next(s))
print(next(s))
print(next(s))
print(next(s))
print(next(s))
print(next(s))

p
y
t
h
o
n

StopIteration: