In [1]:
# function to print reverse of given range in the 
def reverseRange(start,end):
    for v in range(end,start,-1):
        print(v,end=' ')
    return
reverseRange(1,10)

10 9 8 7 6 5 4 3 2

In [2]:
# print the odd num in reverse order
def reversetheoddnum(start,end):
    for i in range(end,start-1,-1):
        if i%2==1:
            print(i,end=" ")
    return 
reversetheoddnum(1,10)

9 7 5 3 1

In [3]:
#fun to cal sum of nums in range
def sumofrange(start,end):
    s=0
    for i in range(start,end+1):
        s+=i
    return s
sumofrange(1,5)

15

In [4]:
# cal the avg of range of numbers
def avgofrange(start,end):
    s=0
    c=0
    for i in range(start,end+1):
        s+=i
        c+=1
    return s//c
avgofrange(1,5)

3

In [5]:
# cal the avg of range of numbers Same as above
def avgrange(s,e):
    return sum(range(s,e))//(e-s)+1
avgrange(1,10)

6

In [6]:
# function to print all leap years in a given time period 
# 2000 2020 -> 2000 2004 2008 2012 2016 2020

def isLeapyear(year):
    if year%400==0 or (year%100!=0 and year%4==0):
        return True
    return False
def generateLeapYear(s,e):
    for i in range(s,e+1):
        if isLeapyear(i):
            print(i,end=" ")
generateLeapYear(2000,2020)

2000 2004 2008 2012 2016 2020

In [7]:
# cal num of days in a time period using leap year logic
def numofdaysintimeperiod(s,e):
    days=0
    for i in range(s,e+1):
        if isLeapyear(i):
            days+=366
        else:
            days+=365
    return days
numofdaysintimeperiod(2016,2017)

731

In [8]:
def myFun(start,end):
    count=start
    days = 0 
    while (count<end):
        if isLeapyear(count):
            days += 366
        else:
            days += 365
        count += 1
    return days
print(myFun(2016,2017))

366

In [16]:
# fun to cal num of hrs for a given period in range
# 11,1975,3,1999
def hrrange(d1,m1,y1,d2,m2,y2):
    months = {1:31,2:28,3:31,4:30,5:31,6:30,7:31,8:31,9:30,10:31,11:30,12:31}
    days = d1+d2
    
    print(myFun(y1,y2))        
hrrange(1,1,2016,1,1,2018)

731

In [17]:
months = {1:31,2:28,3:31,4:30,5:31,6:30,7:31,8:31,9:30,10:31,11:30,12:31}

In [15]:
sum(list(months.values()))

364


### Function to calculate number of hours in a year
noDays(02,2016,04,2017)

1. start month year to end of year
2. Calculate days from all years between start year 





#### Excluding Feb

In [60]:
def daysMonth(month):
    if (month<=7 and month%2!=0) or (month >7 and month%2==0 and month!=2):
        return 31
    elif month!=2:
        return 30
    else :
        return 28

In [84]:
def daysBwMonths(start,end,year):
    #print('start',start,'end',end,'year',year)
    days = 0
    for month in range(start,end+1):
        temp_days = daysMonth(month)
        #print(month, temp_days)
        days += temp_days
        if month == 2 and isLeapyear(year):
            days += 1
    #print('days',days)
    return days

In [88]:
def findDays(month1,year1,month2,year2):
    days = 0
    start = month1
    if year1==year2:
        end = month2
    else:
        end = 12
    days += daysBwMonths(start,end,year1)
    if year1 == year2:
        return days
    print('step1',days)
    step1 = days
    years_count = year1+1
    for each_year in range(years_count,year2):
        if isLeapyear(each_year):
            days += 1
        days += 365
    step2 = days-step1
    print('step2',step2)
    days += daysBwMonths(1,month2,year2)
    step3 = days-step2-step1
    print('step3',step3)
    return days
findDays(1,2016,1,2017)

step1 366
step2 0
step3 31

397

# Optional practies 
- fn to generate n odd armstrong numbers
    - i/p-- 4
    - o/p-- 1, 3, 5, 7.
- fn to cal avg of all factorials in a given range
    - i/p-- 2-4
    - o/p-- (2!+3!+4!)/3
- fn to generate multiplication table for a number in a given range
    - i/p-- 2-4
    - o/p-- 2 table 3 table 4 table

In [25]:

def print_tables(start,stop):
    for each in range(start,stop+1):
        print(each,' TABLE')
        print('-'*10)
        for num in range(1,11):
            print(each,'*',num,'=',each*num)
        print(' '*10,'-'*10,sep='\n')
            
print_tables(1,2)

1  TABLE
----------
1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10

----------
2  TABLE
----------
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

----------